<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="nav mb-8">
        <a href="/" class="text-blue-500">Back to home</a>
      </div>
      <h1 class="text-3xl tracking-tighter mb-3 font-medium">All Users</h1>
      <div class="users flex gap-5 flex-wrap">
        <div class="w-72 p-5 bg-zinc-800 rounded-lg " >
        <div class="w-full h-54 rounded-lg bg-zinc-700"></div>
        <h2 class="text-xl font-medium mt-3 tracking-tighter">Vedant Parashar</h1>
        <h3 class="text-zinc-500 font-medium tracking-tighter">ved@gmail.com</h1>
        <div class="flex w-38 mt-4 justify-between" >
          <a href="" class="text-zinc-200 tracking-tighter" >Edit User</a>
          <a href="" class="text-red-400 tracking-tighter" >Delete User</a>
        </div>
       </div>
               <div class="w-72 p-5 bg-zinc-800 rounded-lg " >
        <div class="w-full h-54 rounded-lg bg-zinc-700"></div>
        <h2 class="text-xl font-medium mt-3 tracking-tighter">Vedant Parashar</h1>
        <h3 class="text-zinc-500 font-medium tracking-tighter">ved@gmail.com</h1>
        <div class="flex w-38 mt-4 justify-between" >
          <a href="" class="text-zinc-200 tracking-tighter" >Edit User</a>
          <a href="" class="text-red-400 tracking-tighter" >Delete User</a>
        </div>
       </div>
      </div>
    </div>
  </body>
</html>
