<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-900 p-10 text-white">
      <div class="nav mb-8">
        <a href="/read" class="text-blue-500">Read Users </a>
      </div>
      <h1 class="text-3xl tracking-tighter mb-3 font-medium">Login an existing account.</h1>
      <form action="/loginUser" method="post" class="flex flex-col gap-3">
        <input
          type="text"
          class="px-3 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none focus:border-blue-400"
          placeholder="Email"
          name="email"
        />
        <input
          type="text"
          class="px-3 py-2 bg-transparent border-2 border-zinc-800 rounded-lg outline-none focus:border-blue-400"
          placeholder="Password"
          name="password"
        />
        <button type="submit" class="px-5 py-2 bg-blue-500 rounded-lg">
          Login
        </button>
      </form>
    </div>
  </body>
</html>
